/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00BCD4;
  --ifm-color-primary-dark: #0097A7;
  --ifm-color-primary-darker: #00838F;
  --ifm-color-primary-darkest: #006064;
  --ifm-color-primary-light: #26C6DA;
  --ifm-color-primary-lighter: #4DD0E1;
  --ifm-color-primary-lightest: #B2EBF2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00BCD4;
  --ifm-color-primary-dark: #0097A7;
  --ifm-color-primary-darker: #00838F;
  --ifm-color-primary-darkest: #006064;
  --ifm-color-primary-light: #26C6DA;
  --ifm-color-primary-lighter: #4DD0E1;
  --ifm-color-primary-lightest: #B2EBF2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.markdown img {
  border-radius: 10px;
}

.pro-badge {
  background-color: #E91E63;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
  margin-left: 4px;
}